*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f9fc;
  font-family: 'Poppins', sans-serif;
  margin: 8px;
  font-size: 17px;
}
div {
  display: block;
}
a {
  font-weight: 600;
  font-size: 16px;
}

ul {
  display: block;
  list-style: none;
}

.container {
  width: 700px;
  margin: 40px auto;
  position: relative;
}
.header-text {
  font-size: 32px;
  color: #585f7d;
  margin-bottom: 20px;
  font-weight: 800;
}

.profile-image {
  width: 100px;
  border-radius: 50%;
}

.bio {
  color: #575F7D;
  margin: 17px 0 40px;
}
.btn-a{
  text-decoration: none;
  padding: 15px 20px;
  background-color: #6B72E1;
  color: #fff;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}
.box-shadow{
  box-shadow: 0 0 10px rgba(0,0,0,10%)
}

.card {
  width: 90%;
  padding: 40px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 4px;
}
.follow-text {
  color: #7ECE90;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 500;
}
.icon-links{
  /* display: inline-block; */
  list-style: none;
  display: inline-block;
  padding-left: 0;
}

.icon-links li{
  display: inline;
  padding: 10px;
}
.icon-links li a{
  font-size: 50px;
  color: rgb(230, 230, 230)
}
@media screen and (max-width: 60em) {
  /* For a screen < 960px, this CSS will be read */
  body {
    margin: 0 auto;
  }
  .container {
    width: 700px;
    margin: 40px auto;
  }
}

@media screen and (max-width: 45em) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 90%;
    margin: 40px auto;
  }
}


@media screen and (max-width: 33.75em) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px;
  }
  .card {
    /* width: 90%; */
    margin-bottom: 10px;
  }
  .header-text {
    font-size: 24px;
  }
  .bio {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  .btn-a{
    padding: 15px 15px;
  }

}
